name: Build and Deploy Static Site

on:
  push:
    branches: [master, main]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      - run: npm ci
      - run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
